<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.1" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.1" targetFramework="net452" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net452" />
  <package id="NBench" version="1.1.0" targetFramework="net452" />
  <package id="NBench.Runner" version="1.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
  <package id="NUnit" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Console" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.1" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Runners" version="3.4.1" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net452" />
  <package id="OpenCover" version="4.6.519" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="ReportGenerator" version="2.4.5.0" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.1" targetFramework="net452" />
</packages>